@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.formulariok{
	max-width: 500px;
	width: 90%;
	margin:0px;
}
blockquote{
	border-color: red;
	border-radius: 5px;
}
.imgnot{
	width: 80%;
	margin: 10px auto 10px auto;
	max-width: 250px;
}
.imgn{
	max-width: 250px;
}
.bro{
	border-color: #710301;
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
	background-color: rgb(245,245,245);
}
.color{
	color: #96281B;
}
.btn-colegio{
	
	padding-top: 15px;
	border-radius: 5px;
	color: white;
	background-color: #710301;
	font-family: 'Raleway', sans-serif;
}
.titulo{
	color:  #710301;
	font-family: 'Poiret One', cursive;
	margin-bottom: 30px;
}
.titulo2{
	color:  #710301;
	font-family: 'Poiret One', cursive;
	margin-bottom: 30px;
	font-size: 2.8rem;
}
.font{
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	font-size: 1.6rem;
}
.contenidos{
	width: 90%;
	margin: 30px auto 30px auto;
}
.cart{
	display: block;
	position: relative;
	width: 99%;
	background-color: white;
	margin: 10px auto 10px auto;
	padding: 30px;
	box-shadow: 5px 5px 5px #888888;
}